
@{
    ViewBag.Title = "Calculo del valor del trmite";
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Areas/AtencionUsuarios/Scripts/ValorTramite.js?V=0.1")"></script>
<style>
    #BotonSop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>
<div data-url="@Url.Content("~")" ID="SIM" resizable>
    <div class="panelSIM panelSIM-default">
        <div class="panelSIM-heading">
            <h3 class="panelSIM-title">
                <label class="header">Soportes de pagos registrados (Valor trámites - Evaluación)</label>
            </h3>
        </div>
        <div id="grdListaSoprtesPago"></div>
        <br />
        <div id="BotonSop">
            <div id="btnNuevoCalculo"></div>
        </div>
        <br />
    </div>
    <div id="PopupParametros"></div>
    <div id="popSoporte">
        <iframe src="" id="DocSoporte" width="100%" height="100%"></iframe>
    </div>
    <div id="popCalcular">
        <div class="row">
            <div class="form-row align-items-center">
                <div class="form-group col-md-6">
                    <label for="TipoTramite">Tipo de Trámite: </label>
                    <div id="sbTipoTramite"></div>
                </div>
                <div class="form-group col-md-2">
                    <label for="DocTercero">Tercero: </label>
                    <div id="DocTercero"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="NombreTercero">Nombre Tercero: </label>
                    <div id="NombreTercero" style="font-family:Arial;font-size:12px;font-weight:bold;text-align:left;vertical-align:text-bottom;height:20px;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row align-items-center">
                <div class="form-group col-md-4">
                    <label for="CM">CM:</label>
                    <div id="CM"></div>
                </div>
                <div class="form-group col-md-2">
                    <label for="cmbAno">Año Factura:</label>
                    <div id="cmbAno"></div>
                </div>
                <div class="form-group col-md-2">
                    <label id="lblItems" for="CantItem">Items:</label>
                    <div id="CantItem"></div>
                </div>
                <div class="form-group col-md-2">
                    <label id="lblCatNor" for="CantNormas" style="visibility: hidden">Cantidad Normas:</label>
                    <div id="CantNormas"></div>
                </div>
                <div class="form-group col-md-2">
                    <label id="lblCatLin" for="CantLineas" style="visibility: hidden">Cantidad Líneas:</label>
                    <div id="CantLineas"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row align-items-center">
                <div class="form-group col-md-3">
                    <label for="ValProy">Valor del Proyecto:</label>
                    <div id="ValProy"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="ValPublica">Valor de la Publicación:</label>
                    <div id="ValPublica"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="CantTram">Nro. Trámites SINA:</label>
                    <div id="CantTram"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="chkSoportes">Soportes:</label>
                    <div id="chkSoportes"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row align-items-center">
                <div class="form-group col-md-3">
                    <label for="CantProf">Nro. de profesionales:</label>
                    <div id="CantProf"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="CantVisitas">Nro. Visitas:</label>
                    <div id="CantVisitas"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="CantHorInf">Nro. horas informe:</label>
                    <div id="CantHorInf"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="DuracionVisita">Duración Visita:</label>
                    <div id="DuracionVisita"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="txtDescripcion">Observaciones:</label>
                    <div id="txtDescripcion"></div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
