@using SIM.Properties
@{
    if (ViewBag.Popup ?? false)
    {
        Layout = "~/Views/Shared/_LayoutPopupV5.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutV5.cshtml";
    }
}

<script type="text/javascript" src="~/Scripts/Utilidades/BuscarDoc.js?V=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
<style>
    #BotonCentro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>
@*<script>
    var Parametro = @(ViewBag.Parametro);
</script>*@
<div style="padding: 0px;">
    <div data-url="@Url.Content("~")" ID="SIM" resizable>
        <div class="panelSIM panelSIM-default">
            <div class="panelSIM-heading">
                <h3 class="panelSIM-title">
                    <label class="header">Buscar Documento</label>
                </h3>
            </div>
            <div id="rdbTipoBusca"></div>
            <br />
            <div id="PanelTramite">
                <div class="row">
                    <div class="control-label col-sm-3">Código de Trámite :</div>
                    <div class="col-sm-7" id="txtTramite"></div>
                </div>
            </div>
            <div id="PanelIndices">
                <div class="row">
                    <div class="control-label col-sm-3">Unidad Documental :</div>
                    <div class="col-sm-9" id="cmbUnidadDoc"></div>
                </div>
                <div id="FilterBuscar"></div>
            </div>
            <div id="PanelFulltext">
                <div class="row">
                    <div class="control-label col-sm-3">Dato a buscar :</div>
                    <div class="col-sm-7" id="txtDato"></div>
                </div>
            </div>
            <br />
            <div id="BotonCentro">
                <div id="btnBuscar"></div>
            </div>
            <br />
            <div id="gridDocsEnc"></div>
            <br />
            <div id="BotonCentro">
                <div id="btnSeleccion"></div>
            </div>
        </div>
    </div>    
</div>