<html>
<head>
    <title>PQRSD</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
        <tr>
            <td style="height: 70px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <p style="font-family: Arial; font-size: 11pt; font-style: italic;">Medellín, [Fecha]</p>  
            </td>
        </tr>
        <tr>
            <td style="height: 90px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">Señores</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">AREA METROPOLITANA DEL VALLE DE ABURRA</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">[Para]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">Medellín, Antioquia</td>
        </tr>
        <tr>
            <td style="height: 50px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">Asunto [Asunto]</td>
        </tr>
        <tr>
            <td style="height: 30px;">&nbsp;</td>
        </tr>
        <!--<tr>
            <td style="font-family: Arial; font-size: 11pt;display:none;">Cordial saludo doctor [ParaSaludo]:</td>
        </tr>-->
        <tr>
            <td style="font-family: Arial; font-size: 11pt;">Cordial saludo</td>
        </tr>
        <tr>
            <td style="height: 30px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 11pt;text-align:justify;">
                [Contenido]
            </td>
        </tr>
        <tr>
            <td style="height: 50px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Atentamente,</td>
        </tr>
        <tr>
            <td style="height: 50px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">[Nombres]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Identificación : [TipoDoc] [Documento]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Tipo Solicitante : [TipoSol]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Tipo Solicitud : [TipoSolicitud]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">[Afectacion]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Teléfono / Celular : [Telefono]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Correo Electrónico : [Mail]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Dirección : [Direccion]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">País : [Pais]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Departamento : [Departamento]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Ciudad : [Ciudad]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Barrio/Vereda : [Barrio]</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12pt; font-style: italic;">Medio de Respuesta : [Respuesta]</td>
        </tr>
    </table>
</body>
</html>