@using SIM.Properties
<div class="panel panel-default">
    <div class="panel-heading">
        <div dx-data-grid="grdTerceroInstalacionesSettings" id="grdTerceroInstalaciones"></div>
    </div>
</div>