@using SIM.Properties
@{
    ViewBag.Title = "Seguimiento y Control Reposiciones";
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}

@model SIM.Areas.Seguridad.Models.PermisosRolModel

<script>
    var CodigoFuncionario = @(ViewBag.CodFuncionario);
    var canRead = false;
    var canInsert = false
    var canEdit = false;
    var canDelete = false;
      @{
         if (Model.CanRead){<text>canRead = true;</text>}
         if (Model.CanInsert){<text>canInsert = true;</text>}
         if (Model.CanUpdate){<text>canEdit = true;</text>}
         if (Model.CanDelete){<text>canDelete = true;</text>}
     }
</script>
<br />

<script type="text/javascript" src="@Url.Content("~/Areas/ControlVigilancia/Scripts/tramiteseguimiento.js?v=1.7")"></script>
<style>
    .dx-button .dx-icon {
        font-size: 8px;
        margin-right: 0px;
        padding: 0px;
    }

    .dx-button-has-icon .dx-button-content {
        padding: 0px;
    }
</style>

<div data-url="@Url.Content("~")" ID="SIM" resizable>
    <div class="panelSIM panelSIM-default" id="pnlContenedor">
        <div class="panelSIM-heading">
            <h2 class="panelSIM-title">
                <label class="header">Listado de Trámites Nuevos</label>
            </h2>
        </div>
        <div>
            <div id="popExportar"></div>

            @{
                if (Model.CanInsert)
                {
                    <div id="btnNuevo"></div>
                }
                if (Model.CanRead)
                {
                    <div id="btnReporte"></div>
                }
            }
            <div id="GidListado"></div>
            <br />

            <div id="popupReporte">
                <iframe src="" id="iframeReporte" style="width:98%;height:100%;border:none;padding:0px;" frameborder="0" scrolling="no"></iframe>
            </div>

            <div id="PopupNuevaRepo">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">CM :</div>
                        <div class="col-sm-6" id="txtCM"></div>
                        <div class="col-sm-3" id="cmdCM"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Proyecto :</div>
                        <div class="col-sm-9" id="txtProyecto"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Nombre del Proyecto :</div>
                        <div class="col-sm-9" id="txtNombreProyectoA"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Asunto :</div>
                        <div class="col-sm-8" id="txtAsunto"></div>
                        <div class="col-sm-1">
                            <div id="btnVerActoPpal">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div style="width: 100%; height: 400px; overflow-y: scroll;">
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Tala Solicitada (Individuos) :</div>
                        <div class="col-sm-3" id="txtTalaSol"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Tala Autorizada (Individuos) :</div>
                        <div class="col-sm-3" id="txtTalaAut"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">DAP Menor 10 Solicitado (Individuos):</div>
                        <div class="col-md-3" id="txtdAPMen10Solicitada"></div>
                        <div class="control-label col-sm-3" style="align-content:end">DAP Menor 10 Autorizado (Individuos):</div>
                        <div class="col-md-3" id="txtdAPMen10Autorizada"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Número de Leñosos Solicitado:</div>
                        <div class="col-md-3" id="txtNroLeniososSol"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Número de Leñosos Autorizados:</div>
                        <div class="col-md-3" id="txtNroLeniososAut"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Volumen Madera Autorizado (M3):</div>
                        <div class="col-md-3" id="txtvolumenAutorizado"></div>

                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Trasplante Solicitado (Individuos):</div>
                        <div class="col-sm-3" id="txttransplanteSolicitado"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Trasplante Autorizado (Individuos):</div>
                        <div class="col-sm-3" id="txttransplanteAutorizado"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Poda Solicitada (Individuos) :</div>
                        <div class="col-md-3" id="txtpodaSolicitada"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Poda Autorizada (Individuos) :</div>
                        <div class="col-md-3" id="txtpodaAutorizada"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Conservación Solicitada (Individuos):</div>
                        <div class="col-md-3" id="txtconservacionSolicitada"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Conservación Autorizada (Individuos):</div>
                        <div class="col-md-3" id="txtconservacionAutorizada"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Reposición Propuesta (Individuos):</div>
                        <div class="col-md-3" id="txtreposicionPropuesta"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Reposición Mínima Obligatoria (Individuos):</div>
                        <div class="col-md-3" id="txtreposicionMinimaObligatoria"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Valoración Inventario Forestal:</div>
                        <div class="col-md-3" id="txtValoracionInventarioForestal"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Valoración Tala:</div>
                        <div class="col-md-3" id="txtValoracionTala"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Inversión reposición mínima ($):</div>
                        <div class="col-md-3" id="txtInversionReposicionMinima"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Inversión medidas adicionales ($):</div>
                        <div class="col-md-3" id="txtInversionMedidasAdicionales"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Cantidad siembra adicional:</div>
                        <div class="col-md-3" id="txtCantidadSiembraAdicional"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Inversión medida adicional siembra ($):</div>
                        <div class="col-md-3" id="txtInversionMedidaAdicionalSiembra"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Cantidad mantenimiento:</div>
                        <div class="col-md-3" id="txtCantidadMantenimiento"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Inversión medida adicional mantenimiento ($):</div>
                        <div class="col-md-3" id="txtInversionMedidaAdicionalMantenimiento"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Cantidad destoconado:</div>
                        <div class="col-md-3" id="txtCantidadDestoconado"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Inversión medida adicional destoconado ($):</div>
                        <div class="col-md-3" id="txtInversionMedidaAdicionalDestoconado"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Cantidad levantamiento de piso duro:</div>
                        <div class="col-md-3" id="txtCantidadLevantamientoPiso"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Inversión medida adicional levantamiento de piso ($):</div>
                        <div class="col-md-3" id="txtInversionMedidaAdicionalLevantamientoPiso"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Pago al Fonfo verde Metropolitano ($):</div>
                        <div class="col-md-3" id="txtPagoFondoVerde"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Observaciones :</div>
                        <div class="col-sm-9" id="txtObservaciones"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Coordenada X :</div>
                        <div class="col-md-3" id="txtCoordenadaX"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Coordenada Y :</div>
                        <div class="col-md-3" id="txtCoordenadaY"></div>
                    </div>
                </div>
                <hr />
                <br />
                <div id="BotonNewSerie">
                    <div id="btnGuarda"></div>
                </div>
            </div>
            <div id="PupupCM">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-2" style="align-content:end">CM :</div>
                        <div class="col-sm-10" id="txtCMv"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="align-content:end">Proyecto :</div>
                        <div class="col-sm-10" id="txtNombreProyecto"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="align-content:end">Dirección :</div>
                        <div class="col-sm-10" id="txtDireccionProyecto"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="align-content:end">Radicado Auto Inicio:</div>
                        <div class="col-sm-2" id="txtRadicadoDocu"></div>
                        <div class="col-sm-2" style="align-content:end">Año :</div>
                        <div class="col-sm-2" id="txtAnioDocu"></div>
                        <div class="col-sm-2" id="BotonBuscarActos">
                            <div id="btnBuscarActosCMs"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="align-content:end">Asunto :</div>
                        <div class="col-sm-10" id="cboAsuntos"></div>
                    </div>
                    <hr />
                    <div id="BotonAsignar">
                        <div id="btnAsignar"></div>
                    </div>
                    <div id="PopupLoadNuevoControl"></div>
                </div>
            </div>
            <div id="PopupDocumentos">
                <div style="width: 100%; height: 800px; overflow-y: scroll;">
                    <div id="GidListadoActos"></div>
                </div>
                <hr />
            </div>
        </div>

        <div id="PupupDocumentosTramite">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-2" style="align-content:end">Asunto :</div>
                    <div class="col-sm-10" id="cboAsuntosTN"></div>
                </div>
                <hr />
                <div id="BotonAsignarTN">
                    <div id="btnAsignarTN"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="PupupActuaciones" style="display: none;">
        <div style="width: 100%; height: 500px; overflow-y: scroll;">
            <h4>Listado de seguimiento y Control</h4>
            <div id="divLblCM">

            </div>
            <br />
            <div id="BotonNewControl">
                <div id="btnnewControl"></div>
            </div>
            <div id="PopupNuevoControl" style="display: none">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Trámite:</div>
                        <div class="col-sm-3" id="txtTramiteSTN"></div>
                        <div class="col-sm-1">
                            <div id="cmdBuscarInfTec">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Radicado:</div>
                        <div class="col-sm-3" id="txtRadicadoSTN"></div>
                        <div class="control-label col-sm-3" style="align-content:end">Año:</div>
                        <div class="col-md-3" id="txtAnioRadicado"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3" style="align-content:end">Fecha seguimiento:</div>
                        <div class="col-sm-3" id="txtFechaControl"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">Técnico :</div>
                        <div class="col-sm-9" id="cboTecnicoSTN"></div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">Estado :</div>
                        <div class="col-sm-9" id="cboEstadoSTN"></div>
                    </div>
                </div>
                <div id="BotonSaveNewControl">
                    <div id="btnGuardarNewControl"></div>
                </div>
            </div>
            <div class="form-horizontal">
                <div id="GridListadoControl"></div>
            </div>
        </div>
    </div>
    <div id="popDocumento">
        <iframe src="" id="DocumentoAdjunto" style="width:100%; height:100%"></iframe>
    </div>
</div>

