
@{
    ViewBag.Title = "BuscarDocumentos";
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}
<script>
    var CodigoFuncionario = @(ViewBag.CodFuncionario);
    var EditarDoc = '@(ViewBag.Edit)'
</script>
<style>
    #BotonCentro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Areas/GestionDocumental/Scripts/BuscarDocumentos.js?V=0.2")"></script>
<div data-url="@Url.Content("~")" ID="SIM" resizable>
    <div class="panelSIM panelSIM-default" id="pnlContenedor">
        <div class="panelSIM-heading">
            <h3 class="panelSIM-title">
                <label class="header">Buscar documentos del SIM</label>
            </h3>
        </div>
        <div id="rdbTipoBusca"></div>
        <br />
        <div id="PanelTramite">
            <div class="row">
                <div class="control-label col-sm-3">Código de Trámite :</div>
                <div class="col-sm-7" id="txtTramite"></div>
            </div>
        </div>
        <div id="PanelIndices">
            <div class="row">
                <div class="control-label col-sm-3">Unidad Documental :</div>
                <div class="col-sm-5" id="cmbUnidadDoc"></div>
            </div>
            <div id="FilterBuscar"></div>
        </div>
        <div id="PanelFulltext">
            <div class="row">
                <div class="control-label col-sm-3">Dato a buscar :</div>
                <div class="col-sm-7" id="txtDato"></div>
            </div>
        </div>
        <div id="PanelFechas">
            <div class="row">
                <div class="control-label col-sm-3">Unidad Documental :</div>
                <div class="col-sm-5" id="cmbUnidadDocFec"></div>
            </div>
            <div class="row">
                <div class="control-label col-sm-3">Desde :</div>
                <div class="col-sm-2" id="dpFechaDesde"></div>
                <div class="control-label col-sm-1">Hasta :</div>
                <div class="col-sm-2" id="dpFechaHasta"></div>
            </div>
        </div>
        <br />
        <div id="BotonCentro">
            <div id="btnBuscar"></div>
        </div>
        <br />
        <div id="grdDocs"></div>
        <div id="loadPanel"></div>
        <br />
        <div id="popupBuscaDoc">
            <iframe src="" id="BuscarDoc" style="width:98%; height:100%;border:none;padding: 0px;" frameborder="0" scrolling="no"></iframe>
        </div>
        <div id="popDetalleTramite"></div>
        <div id="popAdjuntosDocumento" style="padding: 0px !important">
            <iframe src="" id="frmAdjuntoDocumento" style="width:100%; height:100%" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>
    <div id="PopupAnula"></div>
    <div id="PopupVerIndicesDoc"></div>
    <div id="loadPanel"></div>
    <div id="popUpEditIndicesDoc">
        <div class="row">
            <div class="control-label">INDICES DEL DOCUMENTO</div>
        </div>
        <div class="row">
            <div id="grdEditIndicesDoc"></div>
        </div>
        <div class="row">
            <div id="btnGuardaIndicesDoc"></div>
            <div id="btnCancelIndDoc"></div>
        </div>
    </div>
    <div id="popUpReempDoc">
        <div class="row">
            <div class="control-label">REEMPLAZAR ARCHIVO DEL DOCUMENTO</div>
        </div>
        <div class="form-group col-md-6">
            <label for="ufDocumento">Seleccione Documento (pdf) :</label>
            <div id="ufDocumento"></div>
        </div>
        <div class="col-md-6" id="lblArchivo"></div>
        <br />
        <br />
        <br />
        <div id="btnGuardaDoc" class="col-sm-12 btn-default" style="align-content: flex-end"></div>
        <br />
    </div>
</div>

