@using SIM.Properties
@{
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}
<style>
    html, body {
        height: 100%;
    }

    .dx-datagrid-rowsview .dx-datagrid-table .dx-row > td {
        vertical-align: middle;
        /*padding: 7px;*/
    }

    .divEncabezado {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divTerceros {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divHechos {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divCausasP {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divPretencionesP {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divRecomendaciones {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divComite {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divPrejudicial {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divInfoBasica2 {
        border: 1px outset blue;
        text-align: left;
        height: 200px;
        overflow-y: scroll;
    }

    .divInfoBasica3 {
        border: 1px outset blue;
        text-align: left;
        height: 200px;
        overflow-y: scroll;
    }

    .divJuzgadoTribunal {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divDerechos {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .divOtros {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .dx-widget {
        font-size: 11px;
    }

    .dx-popup-content {
        padding: 0px;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Areas/ProcesosJudiciales/Scripts/procesosjudiciales.js?v=" + DateTime.Now.ToString("yyyyMMddHHmmss"))"></script>

<div data-url="@Url.Content("~")" id="app" class="panelSIM panelSIM-default">
    <div id="loadPanel"></div>
    <div class="panelSIM-heading" style="padding: 10px; display: block" id="listaProcesos">
        <div class="panelSIM-title">
            <label class="header" style="padding: 5px">PROCESOS JUDICIALES</label>
            <div id="agregarProcesoJudicial"></div>
        </div>
        <div id="pnlListaProcesosJudiciales">
            <div class="row" style="width: 100%; height:5%">
                <div class="col-md-7"></div>
                <div class="col-md-5"><div id="agregarProcesoJudicial"></div></div>
            </div>
            <div style="height: 95%">
                <div id="grdProcesosJudiciales"></div>
            </div>
        </div>
    </div>
    <div class="panelSIM-heading" style="padding: 10px; display: none" id="detalleProcesos">
        <div id="regresar"></div>
        <div id="tabOpciones" class="panelSIM-heading" style="padding-bottom: 0px"></div>
        <div id="tab01" style="display: block; margin:10px">
            <div id="container">
                <div id="asistente">
                    <h3>Información básica</h3>
                    <div class="divEncabezado">
                        <div class="row">
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Radicado de solicitud</b></p>
                            </div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Procuraduría</b></p>
                            </div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Medio de Control/Acción constitucional</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="radicado"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="procuraduria"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="medioControl"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="font-size:9pt">
                                <p><b>Fecha Radicado Solicitud</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8" style="font-size:9pt">
                                <p style="color:brown"><b>Subir la Solicitud</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div id="fechaRadicado"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="verSolicitud"></div>
                            </div>
                            <div class="col-md-8">
                                <div id="fileUploaderSolicitud"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="font-size:9pt">
                                <p><b>Fecha Notificación</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8" style="font-size:9pt">
                                <p style="color:brown"><b>Subir la Citación de la Audiencia</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div id="fechaNotificacion"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="verNotificacion"></div>
                            </div>
                            <div class="col-md-8">
                                <div id="fileUploaderNotificacion"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="font-size:9pt">
                                <p><b>Asunto</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="asunto"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Apoderado</b></p>
                            </div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Llama en Garantía</b></p>
                            </div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Caducidad</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="cboApoderado"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="optLlamaGerantia"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="caducidad"></div>
                            </div>
                        </div>
                    </div>

                    <h3>Sujetos procesales</h3>
                    <div class="divTerceros">
                        <div class="row">
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Convocantes</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarConvocante"></div>
                            </div>
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Convocados</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarConvocado"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div id="grdConvocantes"></div>
                            </div>

                            <div class="col-md-6">
                                <div id="grdConvocados"></div>
                            </div>
                        </div>
                    </div>

                    <h3>Hechos y Fundamentos</h3>
                    <div class="divHechos">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Hechos (breve resumen)</b></p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="hechos"></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Fundamento jurídico del convocante</b></p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="fundamentoJuridicoConvocante"></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Fundamentos de la defensa propuestos y excepciones</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="fundamentoDefensa"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Pretensiones, Riesgo procesal y Política Institucional</h3>
                    <div class="divHechos">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Pretensiones (breve resumen)</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="pretensiones"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <p style="font-size:9pt"><b>Cuantía de las pretensiones</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="dx-field">
                                    <div id="cuantiaPretenciones"></div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Riesgo procesal</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="riesgo"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Política institucional</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="politicasAplicables"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <h3>Recomendaciones y Ficha</h3>
                    <div class="divRecomendaciones">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Recomendación del abogado</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="recomencionAbogado"></div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />

                        <div class="row">
                            <div class="col-md-1">
                                <p style="font-size:8pt"><b>Imprimir Ficha</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div id="abrirFichaPejudicial"></div>
                            </div>
                        </div>

                    </div>

                    <h3>Comité de Conciliación</h3>
                    <div class="divComite">
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Fecha Comité</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Decisión del comité</b></p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div id="fechaComiteConciliacion"></div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div id="decisionComite"></div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card border-success mb-3" style="max-width: 100%;">
                                    <div class="card-body text-success">
                                        <h5 class="card-title">Acta del comité</h5>
                                        <p class="card-text">Subir el acta del comité.</p>
                                        <div id="fileUploaderComiteConciliacion"></div>
                                    </div>
                                    <div class="card-footer bg-transparent border-success">
                                        Ver acta del comité :
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div id="verComiteConciliacion"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-3">
                                <p style="font-size:8pt"><b>Número de Sesión</b></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:8pt"><b>Generar Certificado</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div id="sesionNro"></div>
                            </div>
                            <div class="col-md-3">
                                <div id="abrirCertificado"></div>
                            </div>
                        </div>
                    </div>

                    <h3>Audiencia Prejudicial</h3>
                    <div class="divPrejudicial">
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Fecha Audicencia</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Acuerdo</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" id="fechaAudiencia"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div id="huboAcuerdoConciliatorio"></div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Acta de la audiencia</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="verActaAudiencia"></div>
                                <div class="col-md-5">
                                    <div id="fileUploaderActaAudiencia"></div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Decisión de la audiencia</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" id="decisionAudiencia"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="tab02" style="display: none; margin: 10px">
            <div id="container2">
                <div id="asistente2">
                    <h3>Información básica</h3>
                    <div class="divInfoBasica2">
                        <div class="row">
                            <div class="col-md-3" style="font-size:9pt">
                                <p><b>Calidad de la Entidad</b></p>
                            </div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Jurisdicci&oacute;n</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div id="calidadEntidad"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="jurisdiccion"></div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Departamento</b></p>
                            </div>
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Municipio</b></p>
                            </div>
                            <div class="col-md-3" style="font-size:9pt">
                                <p><b>Categoría</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div id="cboDepartamento"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="cboMunicipios"></div>
                            </div>
                            <div class="col-md-3">
                                <div id="cboCategoriaJuzgado"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Especialidad</b></p>
                            </div>
                            <div class="col-md-3" style="font-size:9pt">
                                <p><b>Número Juzgado</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div id="cboEspecialidadJuzgado"></div>
                            </div>
                            <div class="col-md-3">
                                <div id="numeroJuzgado"></div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-4" style="font-size:9pt">
                                <p style="color: sandybrown"><b>Código Único del Proceso</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Cód DANE</b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Cód Juzgado </b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Cód Especialidad </b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Consec. Despacho </b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Año  </b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Cons. Radicación </b></p>
                            </div>
                            <div class="col-md-1" style="font-size:9pt">
                                <p><b>Cons. Recursos </b></p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div id="codDaneDepRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="codJuzgadoRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="codEspecialidadRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="codDespachoRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="anioRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="consecutivoRad"></div>
                            </div>
                            <div class="col-md-1">
                                <div id="consecutivoRecRad"></div>
                            </div>
                        </div>
                        <div id="radicado21"></div>
                        <hr />
                        <div class="row">
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Apoderado</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div id="apoderadotxt"></div>
                            </div>
                        </div>
                    </div>
                    <h3>Sujetos procesales</h3>
                    <div class="divTerceros">
                        <div class="row">
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Demandantes</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarDemandante"></div>
                            </div>
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Demandados</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarDemandado"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="grdDemandantes"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="grdDemandados"></div>
                            </div>
                        </div>
                    </div>
                    <h3>Derechos</h3>
                    <div class="divDerechos">
                        <div class="row">
                            <div class="col-md-6" style="font-size:10pt">
                                <p><b>Derechos invocados acción de tutela</b></p>
                            </div>
                            <div class="col-md-6" style="font-size:10pt">
                                <p><b>Derechos invocados acción popular o de grupo</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="cboDerechosTutela"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="cboDerechosAccionPupular"></div>
                            </div>
                        </div>
                       
                    </div>
                    <h3>Otros</h3>
                    <div class="divOtros">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="dx-field">
                                    <div class="dx-field-label">Fecha de Admisi&oacute;n</div>
                                    <div class="dx-field-value">
                                        <div id="fechaAdmision"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="dx-field">
                                    <div class="dx-field-label">Fecha de Notificaci&oacute;n</div>
                                    <div class="dx-field-value">
                                        <div id="fechaNotificacionJ"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="tab03" style="display: none">
            <div id="container3">
                <div id="asistente3">
                    <h3>Hechos</h3>
                    <div class="divInfoBasica3">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Fecha</div>
                                        <div class="dx-field-value">
                                            <div id="fechaHechosP"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-5">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Departamento</div>
                                        <div class="dx-field-value">
                                            <div id="departamentoHechosP"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Municipio</div>
                                        <div class="dx-field-value">
                                            <div id="municipioHechosP"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="dx-field-label">Descripción de los Hechos</div>
                                <div class="col-md-11">
                                    <div id="descripcionHechos"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Caducidad</div>
                                        <div class="dx-field-value">
                                            <div id="caducidadHechos"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Fecha Caducidad</div>
                                        <div class="dx-field-value">
                                            <div id="fechaCaducidadHechos"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Pretensiones</h3>
                    <div class="divPretencionesP">
                        <div class="row">
                            <div class="dx-field-label">Pretensiones (Breve resumen)</div>
                            <div class="col-md-11">
                                <div id="pretensionesDeclarativasHechos"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dx-field-label">Cuantía</div>
                            <div class="col-md-11">
                                <div id="cboCuantia"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dx-field-label">Juramento estimatorio</div>
                            <div class="col-md-11">
                                <div id="cboJuramenteoEstimatorio"></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div id="tab04" style="display: none">
          <div id="pnlActuaciones">
            <div class="row" style="width: 100%; height:5%">
                <div class="col-md-7"></div>
                <div class="col-md-5"><div id="agregarActuacion"></div></div>
            </div>
            <div style="height: 95%">
                <div id="grdActuacion"></div>
            </div>
        </div>
        </div>
        <div id="tab06" style="display: none">
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Genera Erogaci&oacute;n Econ&oacute;mica</div>
                            <div class="dx-field-value">
                                <div id="generaErogacion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor Econ&oacute;mico del Proceso</div>
                            <div class="dx-field-value">
                                <div id="cbovalorEconomico"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor</div>
                            <div class="dx-field-value">
                                <div id="valorEconomico"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Tipo de Pretensi&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="tipoPretension"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Unidad Monetaria</div>
                            <div class="dx-field-value">
                                <div id="unidadMonetaria"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Riesgo procesal</div>
                            <div class="dx-field-value">
                                <div id="riesgoProcesal"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <label class="header" style="padding: 5px">JURAMENTO ESTIMATORIO O ESTIMACI&Oacute;N RAZONADA DE LA CUANT&Iacute;A</label>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Unidad Monetaria</div>
                            <div class="dx-field-value">
                                <div id="unidadMonetariaJE"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor</div>
                            <div class="dx-field-value">
                                <div id="valorJE"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div id="guardarProcesoJudicial" />
        </div>
    </div>

    <div id="popupTercero">
        <iframe src="" id="buscarTercero" style="width:98%; height:100%;border:none;padding: 0px;" frameborder="0" scrolling="no"></iframe>
    </div>

    <div id="popupConvocante">
        <div class=" row">
            <div class="col-md-12">
                <div id="grdTerceros" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div id="cmdEditarNitConvocante"></div>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <div id="BotonSaveConvocante">
                    <div id="btnGuardarConvocante"></div>
                </div>
            </div>
        </div>
    </div>

    
    </div>
</div>
