@using SIM.Properties
@{
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}
<style>
    html, body {
        height: 100%;
    }

    .dx-datagrid-rowsview .dx-datagrid-table .dx-row > td {
        vertical-align: middle;
        /*padding: 7px;*/
    }

    .divEncabezado {
        border: 1px outset blue;
        background-color: lightblue;
        text-align: left;
    }

    .divDetalle {
        border: 1px outset blue;
        text-align: left;
        height: 500px;
        overflow-y: scroll;
    }

    .dx-popup-content {
        padding: 0px;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Areas/ProcesosJudiciales/Scripts/procesosjudiciales.js?v=" + DateTime.Now.ToString("yyyyMMddHHmmss"))"></script>

<div data-url="@Url.Content("~")" id="app" class="panelSIM panelSIM-default">
    <div id="loadPanel"></div>
    <div class="panelSIM-heading" style="padding: 10px; display: block" id="listaProcesos">
        <div class="panelSIM-title">
            <label class="header" style="padding: 5px">PROCESOS JUDICIALES</label>
            <div id="agregarProcesoJudicial"></div>
        </div>
        <div id="pnlListaProcesosJudiciales">
            <div class="row" style="width: 100%; height:5%">
                <div class="col-md-7"></div>
                <div class="col-md-5"><div id="agregarProcesoJudicial"></div></div>
            </div>
            <div style="height: 95%">
                <div id="grdProcesosJudiciales"></div>
            </div>
        </div>
    </div>
    <div class="panelSIM-heading" style="padding: 10px; display: none" id="detalleProcesos">
        <div id="regresar"></div>
        <div id="tabOpciones" class="panelSIM-heading" style="padding-bottom: 0px"></div>
        <div id="tab01" style="display: block; margin:10px">
            <div id="asistente">
                <h3>Datos Generales</h3>
                <div class="divDetalle">
                    <div class="row">
                        <div class="col-md-2" style="font-size:9pt">
                            <p><b>Radicado de solicitud</b></p>
                        </div>
                        <div class="col-md-4" style="font-size:9pt">
                            <p style="align-content:end"><b>Procuraduría</b></p>
                        </div>
                        <div class="col-md-4" style="font-size:9pt">
                            <p><b>Apoderado</b></p>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div id="radicado"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="procuraduria"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="apoderado"></div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="dx-field">
                                <div class="dx-field-label">Medio de Control/Acción constitucional </div>
                                <div class="dx-field-value">
                                    <div id="medioControl"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12" style="font-size:9pt">
                                <p><b>Fecha Radicado Solicitud</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="fechaRadicado"></div>
                                <div class="col-md-1" id="verSolicitud"></div>
                                <div class="col-md-3">
                                    <input type="file" class="form-control" id="fRadicadoSol" />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-12" style="font-size:9pt">
                                <p><b>Fecha Notificación</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="fechaNotificacion"></div>
                                <div class="col-md-1" id="verNotificacion"></div>
                                <div class="col-md-3" id="fileuploader-container3">
                                    <input type="file" class="form-control" id="fNotificacion" />
                                </div>
                            </div>
                        </div>

                        <hr />
                        @*<div class="row">
                            <div class="col-md-12" style="font-size:12pt">
                                <p><b>Solicitud de conciliación</b></p>
                            </div>
                        </div>*@

                        @*<div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="verSolicitudConsiliacion"></div>
                                <div class="col-md-3" id="fileuploader-container4">
                                    <input type="file" class="form-control" id="fSolicitud" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="verAdmision"></div>
                                <div class="col-md-3" id="fileuploader-container5">
                                    <input type="file" class="form-control" id="fAdmision" />
                                </div>
                            </div>
                        </div>*@
                    </div>

                    <h3>Terceros</h3>
                    <div class="divDetalle">
                        <div class="row">
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Convocantes</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarConvocante"></div>
                            </div>
                            <div class="col-md-5" style="font-size:12pt">
                                <p><b>Convocados</b></p>
                            </div>
                            <div class="col-md-1">
                                <div id="agregarConvocado"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div id="grdConvocantes"></div>
                            </div>

                            <div class="col-md-6">
                                <div id="grdConvocados"></div>
                            </div>
                        </div>


                    </div>

                    <h3>Hechos y Fundamentos</h3>
                    <div class="divDetalle">
                        <div class="row">
                            <div class="col-md-5">
                                <p style="font-size:9pt"><b>Hechos (breve resumen)</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <p style="font-size:9pt"><b>Pretensiones (breve resumen)</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="dx-field">
                                    <div id="hechos"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dx-field">
                                    <div id="pretensiones"></div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />

                        <div class="row">
                            <div class="col-md-5">
                                <p style="font-size:9pt"><b>Fundamento jurídico del convocante</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <p style="font-size:9pt"><b>Fundamentos de la defensa propuestos y excepciones</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="dx-field">
                                    <div id="fundamentoJuridicoConvocante"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dx-field">
                                    <div id="fundamentoDefensa"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <h3>Recomendaciones y Ficha</h3>
                    <div class="divDetalle">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size:9pt"><b>Recomendación del abogado</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div id="recomencionAbogado"></div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />

                        <div class="row">
                            <div class="col-md-1">
                                <p style="font-size:8pt"><b>Imprimir Ficha</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div id="abrirFichaPejudicial"></div>
                            </div>
                        </div>

                    </div>

                    <h3>Comité de Conciliación</h3>
                    <div class="divDetalle">
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Fecha Comité</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Decisión del comité</b></p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2" id="fechaComiteConciliacion"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4" id="decisionComite"></div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Acta del Comité</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="verComiteConciliacion"></div>
                                <div class="col-md-3" id="fileuploader-container4">
                                    <input type="file" class="form-control" id="fComiteConciliacion" />
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-1">
                                <p style="font-size:8pt"><b>Generar Certificado</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div id="abrirCertificado"></div>
                            </div>
                        </div>
                    </div>

                    <h3>Audiencia Prejudicial</h3>
                    <div class="divDetalle">
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Fecha Audicencia</b></p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4" style="font-size:9pt">
                                <p><b>Acuerdo</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" id="fechaAudiencia"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div id="huboAcuerdoConciliatorio"></div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Acta de la audiencia</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1" id="verActaAudiencia"></div>
                                <div class="col-md-3" id="fileuploader-container5">
                                    <input type="file" class="form-control" id="fActaAudiencia" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2" style="font-size:9pt">
                                <p><b>Decisión de la audiencia</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" id="decisionAudiencia"></div>
                        </div>

                    </div>
                </div>
        </div>
        <div id="tab02" style="display: none">
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Calidad de la Entidad</div>
                            <div class="dx-field-value">
                                <div id="calidadEntidad"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Jurisdicci&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="jurisdiccion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="font-size:9pt">
                        <p><b>Radicado de solicitud</b></p>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-2">
                        <div id="radicado21"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Demandantes</div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Demandados</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div id="grdDemandantes"></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div id="grdDemandados"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Juzgado y/o Tribunal</div>
                            <div class="dx-field-value">
                                <div id="juzgado"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Fecha de Admisi&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="fechaAdmision"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Fecha de Notificaci&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="fechaNotificacion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Apoderado CC y TP</div>
                            <div class="dx-field-value">
                                <div id="apoderado"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">C&oacute;digo Contable</div>
                            <div class="dx-field-value">
                                <div id="codigoContable"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Etapa / Actuaci&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="etapaActuacion"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="tab03" style="display: none">
            <label class="header" style="padding: 5px">HECHOS, CAUSAS Y PRETENSIONES DEL PROCESO</label>
            <br />
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dx-field">
                            <div class="dx-field-label">Fecha</div>
                            <div class="dx-field-value">
                                <div id="fechaHechos"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Departamento</div>
                            <div class="dx-field-value">
                                <div id="departamentoHechos"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dx-field">
                            <div class="dx-field-label">Municipio</div>
                            <div class="dx-field-value">
                                <div id="municipioHechos"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="header" style="padding: 5px">DESCRIPCI&Oacute;N DE LOS HECHOS</label>
                    <div class="col-md-11">
                        <div id="descripcionHechos"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Caducidad o Prescripci&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="caducidadHechos"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Llamamiento en Garant&iacute;a</div>
                            <div class="dx-field-value">
                                <div id="llamamientoHechos"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="header" style="padding: 5px">PRETENSIONES DECLARATIVAS</label>
                    <div class="col-md-11">
                        <div id="pretensionesDeclarativasHechos"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab04" style="display: none">
            <div id="pnlActuaciones">
                <div class="row" style="width: 100%; height:5%">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"><div id="agregarActuacion"></div></div>
                </div>
                <div style="height: 95%">
                    <div id="grdActuacion"></div>
                </div>
            </div>
        </div>
        <div id="tab06" style="display: none">
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Genera Erogaci&oacute;n Econ&oacute;mica</div>
                            <div class="dx-field-value">
                                <div id="generaErogacion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor Econ&oacute;mico del Proceso</div>
                            <div class="dx-field-value">
                                <div id="cbovalorEconomico"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor</div>
                            <div class="dx-field-value">
                                <div id="valorEconomico"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Tipo de Pretensi&oacute;n</div>
                            <div class="dx-field-value">
                                <div id="tipoPretension"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Unidad Monetaria</div>
                            <div class="dx-field-value">
                                <div id="unidadMonetaria"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Riesgo procesal</div>
                            <div class="dx-field-value">
                                <div id="riesgoProcesal"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <label class="header" style="padding: 5px">JURAMENTO ESTIMATORIO O ESTIMACI&Oacute;N RAZONADA DE LA CUANT&Iacute;A</label>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Unidad Monetaria</div>
                            <div class="dx-field-value">
                                <div id="unidadMonetariaJE"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="dx-field">
                            <div class="dx-field-label">Valor</div>
                            <div class="dx-field-value">
                                <div id="valorJE"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-11">
                <div id="guardarProcesoJudicial" />
            </div>
        </div>
        <div id="popupConvocante">
            <div class="form-horizontal">
                <div class="col-md-11">
                    <div id="grdTerceros" />
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <div id="BotonSaveConvocante">
                            <div id="btnGuardarConvocante"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
     </div>
</div>
