<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  
    <script src=@Url.Content("~/Scripts/jquery-1.10.2.js")></script>
    <script src=@Url.Content("~/Scripts/jquery_form.js")></script>
    
    <script src=@Url.Content("~/Scripts/jquery.uploadfile.js")></script>
    <link href="@Url.Content("~/Scripts/uploadfile.css")" rel="stylesheet" type="text/css" />


    <style>
        .navbar.navbar-inverse.navbar-fixed-top {
            display: none;
        }

        footer {
            display: none;
        }

        hr {
            display: none;
        }
        .ajax-file-upload input[type='file']{

        }
        .body-content{
            margin-top:0px !important;
        }
    </style>

</head>
<body>
    <div id="mulitplefileuploader">Subir imagen</div>
    <div id="status"></div>
    <button onclick="llenarCarrusel()" style="display:none">cargar</button>

    <script>
        var arrayFotos = new Array();
        $(document).ready(function () {
            arrayFotos = new Array();
            var settings = {
                url: "@Url.Content("~/UploadFile/")",
                method: "POST",
                formData: { idVisita: parent.$("#IdVisita").val(),tipo: 1 },
                allowedTypes: "jpg,png,gif",
                fileName: "myfile",
                multiple: false,
                autoUpload: true,
                doneStr: "Listo",
                cancelStr: "Cancelar",
                abortStr: "Cancelar",

                elements: {
                    active: { show: '.js-upload', hide: '.js-webcam' },
                    preview: {
                        el: '.js-preview',
                        width: 200,
                        height: 200
                    },
                    progress: '.js-progress'
                },
                onSuccess: function (files, data, xhr) {
                    var objImg = Object();
                    objImg = data;
                    arrayFotos.push(objImg);
                    llenarCarrusel();

                },
                onError: function (files, status, errMsg) {
                    $("#status").html("<font color='red'>Error al subir imagen</font>");
                }
            }
            $("#mulitplefileuploader").uploadFile(settings);
            

        });

        function llenarCarrusel() {
            if (arrayFotos.length == 0) {
                alert("No se han cargado fotos.")
                return;
            }
            parent.llenarCarrusel(arrayFotos);
            parent.guardarFotos(arrayFotos);
            parent.$("#pantallaCargarImg").dialog('close');
        }
    </script>
</body>

