@model SIM.Areas.Encuestas.Models.FORMULARIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FORMULARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_FORMULARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
