@using SIM.Properties

@{
    //Layout = "~/Views/Shared/_LayoutMovil.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Areas/GestionDocumental/Scripts/prestamo.js?v=1.01")"></script>

<div ng-app="SIM" data-url="@Url.Content("~")" id="app" class="my-cloak">
    <div ng-controller="PrestamoController" class="panelSIM panelSIM-default">
        <div dx-popup="popBusquedaDocumentosSettings" id="popBusquedaDocumentos">
            <div dx-scroll-view="{ direction: 'both' }">
                <div class="dx-fieldset">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="dx-field">
                                <div class="dx-field-label">Texto de B&uacute;squeda</div>
                                <div class="dx-field-value">
                                    <div dx-text-box="{bindingOptions: { value: 'busqueda.Texto' }}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div dx-button="btnBuscarSettings" id="btnBuscar"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div dx-data-grid="grdResultadoBusquedaSettings" id="grdResultadoBusqueda"></div>
                </div>
            </div>
        </div>
        <div dx-load-panel="{message: 'Cargando...', showIndicator: true, shading: true, bindingOptions: { visible: 'cargandoVisible' } }" id="popCargando"></div>
        <div dx-tabs="tabsOptions" class="panelSIM-heading" style="padding-bottom: 0px"></div>
        <div ng-show="isActive(0)" class="panelSIM-heading">
            <div class="panelSIM-heading">
                <h3 class="panelSIM-title">
                    <label class="header">Préstamo de Documentos</label>
                </h3>
            </div>
            <div class="dx-fieldset" style="margin-top:5px; margin-bottom:5px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Identificación</div>
                            <div class="dx-field-value" style="padding:0px">
                                <div class="row" style="margin:0px">
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding:0px">
                                        <div dx-select-box="TipoDocumentoSettings" dx-validator="{ validationRules: [{ type: 'required', message: 'Tipo de Documento Requerido' }] }"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding:0px">
                                        <div dx-number-box="IdentificacionSettings" dx-validator="{ validationRules: [{ type: 'required', message: 'Identificación Requerida' }] }"></div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px">
                                        <span style="display: inline-block; vertical-align: middle; line-height: normal; width: 100%; text-align: center; ">-</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding:0px">
                                        <div dx-number-box="{bindingOptions: { value: 'datosTercero.N_DIGITOVER' }}" dx-validator="{ validationRules: [{ type: 'required', message: 'Dígito de Verficación Requerido' }] }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Género</div>
                            <div class="dx-field-value">
                                <div dx-select-box="GeneroSettings" dx-validator="{ validationRules: [{ type: 'required', message: 'Género Requerido' }] }"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Nombres</div>
                            <div class="dx-field-value">
                                <div dx-text-box="{bindingOptions: { value: 'nombres.NOMBRES' }, readOnly: true}" dx-validator="{ validationRules: [{ type: 'required', message: 'Nombres Requerido' }] }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Apellidos</div>
                            <div class="dx-field-value">
                                <div dx-text-box="{bindingOptions: { value: 'nombres.APELLIDOS' }, readOnly: true}" dx-validator="{ validationRules: [{ type: 'required', message: 'Apellidos Requerido' }] }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top:0px; margin-bottom:0px" />
            <div class="dx-fieldset" style="margin-top:5px; margin-bottom:5px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div dx-button="btnBuscarDocumentosSettings" id="btnBuscarDocumentos"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Código Documento</div>
                            <div class="dx-field-value">
                                <div dx-text-box="CodigoDocumentoSettings" id="codigoDocumento"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Observación</div>
                            <div class="dx-field-value">
                                <div dx-text-box="ObservacionesDocumentoSettings" id="observacionDocumento"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div dx-data-grid="grdDocumentosSeleccionadosSettings" id="grdDocumentosSeleccionados"></div>
            <hr />
            <div class="dx-fieldset" style="margin-top:5px; margin-bottom:5px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dx-field">
                            <div class="dx-field-label labelfullrow">Observaciones Préstamo</div>
                            <div class="dx-field-value valuefullrow">
                                <div dx-text-box="{bindingOptions: { value: 'datosPrestamo.S_OBSERVACIONES' } }" id="observaciones"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="panelSIM-body clearfix">
                <div dx-button="btnPrestarDocumentosSettings" id="btnPrestarDocumentos"></div>
            </div>
        </div>
        <div ng-show="isActive(1)" class="panelSIM-heading">
            <div class="panelSIM-heading">
                <h3 class="panelSIM-title">
                    <label class="header">Devolución de Documentos</label>
                </h3>
            </div>
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">C&oacute;digo de Barras</div>
                            <div class="dx-field-value">
                                <div dx-text-box="CodigoDocumentoDevSettings" id="codigoDocumentoDev"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="dx-field">
                            <div class="dx-field-label labelfullrow">Observaciones:</div>
                            <div class="dx-field-value valuefullrow">
                                <div dx-text-box="ObservacionesDocumentoDevSettings"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div dx-data-grid="grdDocumentosSeleccionadosDevSettings" id="grdDocumentosSeleccionadosDev"></div>
            <hr />
            <div class="panelSIM-body clearfix">
                <div dx-button="btnDevolverDocumentosSettings" id="btnDevolverDocumentos"></div>
            </div>
        </div>
        <div ng-show="isActive(2)" class="panelSIM-heading">
            <div class="panelSIM-heading">
                <h3 class="panelSIM-title">
                    <label class="header">Consulta de Ubicaciones</label>
                </h3>
            </div>
            <div class="dx-fieldset">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">C&oacute;digo de Barras</div>
                            <div class="dx-field-value">
                                <div dx-text-box="CodigoDocumentoCUSettings" id="txtCodigoDocumento"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Ubicaci&oacute;n:</div>
                            <div class="dx-field-value">
                                <div dx-text-box="UbicacionCUSettings"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelSIM-body clearfix">
                <div dx-button="btnReubicarCUSettings"></div>
            </div>
        </div>
    </div>
</div>