<!--DETALLE-->
<div class="col-md-12" id="acordionDetalleGeneral">
    <!--Nivel1-->
    <div class="panel-group acordeonVerde " id="acordionDetallePrincipal">
    </div>
</div>

<!--ENCUESTAS-->
    <div class="col-md-12" id="acordionEncuestaGeneral">
        <!--Nivel1-->
        <div class="panel-group acordeonVerde " id="acordionEncuestaPrincipal">
        </div>
    </div>

<br />
<div class="actionBar">
    <div dx-button="guardarDetalleCaracteristicas" id="btnGuardar" class="btn btn-default btn-sm" style="margin-left:87%;">
    </div>
</div>

<div style="position:absolute;top:0px;z-index:9999;display:none">
    <input type="text" id="txtCaptacion" value="">
    <input type="text" id="txtTipoEstado" value="">
    <input type="text" id="txtVisita" value="">
    <input type="text" id="txtEstadoBase" value="">
    <input type="text" id="txtForm" value="">
    <input type="text" id="idCaptacionEstado" value="">

    <input type="text" id="txturlMapa" value="">
    <input type="text" id="txttblFotos" value="">
    <input type="text" id="txtinstalacion" value="">
    <input type="text" id="txttercero" value="">
    <input type="text" id="txttblEstados" value="">

</div>
<div id="msAlmacenamiento" title="Información" style="display:none">
    <p style="color: #000000; font-size: 14px; font-weight: bold; margin-top: 10px; margin-left: 38px;" id="msText"></p>
</div>
<br />


