@{
    Layout = null;
}

<div class="panel panel-default" style="width: 100%;">
    <div align="center" style="padding-bottom: 30px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-6" style="padding-top: 15px;">
                    <div>
                        <label id="txtnombretramite" ></label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div>
                        <label id="txtDescripcion"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:0px; text-align:center;">
        <label>Términos y Condiciones</label>
    </div>
    <div>
        <textarea id="textoTYC" readonly style="width: 98%; height: 300px; margin-left: 20px; overflow-y: scroll; border: inset; padding-left: 20px; padding-right: 20px; text-align: justify; resize: none">
            términos y condiciones legales de utilización del portal web de movistar colombia el acceso y uso por parte de los usuarios (el "Usuario" o "Usuarios" ) del portal www.movistar.co (en adelante, el "Portal Web de Movistar Colombia" )
            de propiedad de colombia telecomunicaciones s.a. esp (en adelante, "La Empresa" ), se regirá por los siguientes términos y condiciones el acceso al portal web de movistar colombia atribuye la condición de usuario del mismo e implica
            la aceptación plena y sin reserva de todos los términos y condiciones que se encuentren vigentes en el momento mismo en que el usuario acceda al portal web de movistar colombia.
            la empresa se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones respecto a la información contenida en el portal web de movistar colombia, así como sus términos y condiciones.
            las modificaciones que se hagan producirán efecto en forma inmediata a su incorporación en el portal web de movistar colombia. a continuación, los términos y condiciones generales de uso del portal web de movistar colombia  derechos de propiedad intelectual.
            las marcas, avisos, nombres comerciales, propaganda comercial, dibujos, diseños, logotipos, textos, etc., que aparecen en este portal web de movistar colombia, son de exclusiva propiedad de la empresa, o de terceros que de manera previa y expresa han autorizado a ésta para su uso. queda prohibido cualquier uso o explotación por cualquier medio, sin el consentimiento previo y por escrito de la empresa, de cualquier contenido incluido en el portal web de movistar colombia en especial de las marcas telefónica, movistar y telecom. el diseño y contenido del portal web de movistar colombia se encuentra protegido de conformidad con lo establecido por las normas nacionales e internacionales de protección de la propiedad industrial y del derecho de autor, quedando prohibido modificar, copiar, distribuir, transmitir, desplegar, publicar, editar, vender, o de cualquier forma explotar el diseño y contenido del portal web de movistar colombia.
            términos y condiciones contáctenos
            de conformidad con el artículo 45 de la resolución crc 3066 de 2011, la respuesta de la empresa a su pqr se notificará a través del correo electrónico que usted suministre para ello. las respuestas a las solicitudes por datos personales serán comunicadas del mismo modo.
            manifiesto que colombia telecomunicaciones s.a. esp tiene a mi disposición mecanismos alternos de notificación para la respuesta a mi requerimiento, como son los señalados en el código de procedimiento administrativo y de lo contencioso administrativo
            exclusión de garantías y de disponibilidad
            la empresa no garantiza la disponibilidad y continuidad del funcionamiento del portal web de movistar colombia y de los servicios del portal pues el mismo está en continua actualización, y en consecuencia no garantiza que dicho portal operará de manera permanente y libre de fallas, ni asumirá responsabilidad alguna por los daños sufridos por el usuario por el no uso o imposibilidad de uso de la información o servicios prestados a través del portal web de movistar colombia, como tampoco se responsabiliza de cualquier daño o perjuicio en el software o hardware del usuario, que se derive del acceso a su publicación digital o del uso de información o aplicaciones en ella contenidas. la empresa no será responsable de posibles daños o perjuicios que se puedan derivar de interferencias, omisiones, interrupciones, virus informáticos o desconexiones del portal web de movistar colombia por cualquier causa, incluidas causas ajenas a la empresa. la empresa tampoco será responsable por los problemas técnicos que pudieran afectar el normal funcionamiento del portal web de movistar colombia. el usuario asumirá toda la responsabilidad por la interpretación y el uso de la información contenida en el portal web de movistar colombia y también será responsable de la violación de derechos patrimoniales y personales de terceros y />o en contra de la moral y buenas costumbres o el orden público, que de cualquier forma puedan dañar, impedir la normal utilización, inutilizar, sobrecargar o deteriorar el Portal Web de Movistar, Mi Movistar y los Servicios por parte de los Usuarios. De la misma manera La Empresa no se hace responsable por la confiabilidad o utilidad de los servicios prestados por terceros a través del Portal Web de Movistar Colombia.

            Sitios Vinculados
            El Portal Web de Movistar Colombia contiene vínculos ("links") a otros sitios en Internet que permiten al Usuario tener acceso a ellos, pero de ninguna manera puede derivarse para La Empresa responsabilidad alguna en relación con la calidad de los productos o servicios ofrecidos en el sitio al que se hace el vínculo o por las transacciones que llegue a efectuar el Usuario en dichos lugares de la red.

            Productos y Servicios Ofrecidos
            Los productos, servicios y precios incluidos en el Portal Web de Movistar Colombia están dirigidos al público en general como personas indeterminadas, y por consiguiente será necesaria siempre una confirmación y aceptación por parte de La Empresa tanto de la orden de compra como del pago realizado por el Usuario, momento en el cual se expedirá la correspondiente factura y se entenderá perfeccionado el contrato de venta entre el Usuario y La Empresa. El término de la garantía del producto y/o servicio vendido será el fijado e informado por el fabricante o importador en el cuerpo del bien, sticker adherido, manual de instrucciones, empaque o similar. Una vez expire el término de la garantía el cliente deberá asumir el pago de cualquier revisión, diagnóstico, reparación y/o repuesto que requiera el bien.

            Registros e Inscripciones de los Usuarios
            El acceso al Portal Web de Movistar Colombia, no está sujeto a un registro o suscripción previa por parte del Usuario. No obstante, el acceso a algunos de los servicios del Portal sólo se permitirá mediante registro previo. En este evento, el Usuario garantiza la veracidad y exactitud de los datos registrados, y se compromete a:

            Comunicar puntualmente los cambios que de ellos se produzcan de forma que los mismos permanezcan actualizados en todo momento.

            No utilizar su cuenta de usuario con fines o actividades diferentes para los creados inicialmente.

            Conservar con diligencia y guardar con absoluta confidencialidad la contraseña, evitando que otras personas tengan acceso a la misma, y comunicar inmediatamente a La Empresa su sustracción y/o pérdida y, en general, cualquier uso indebido de su cuenta de usuario por terceras personas.

            No copiar o alterar las páginas o contenidos que La Empresa ofrece en Internet, o asociarlos a otras páginas de Internet.

            Violación a estos Términos y Condiciones
            La Empresa podrá llevar a cabo todas las acciones legales que sean necesarias para remediar cualquier violación a los presentes Términos y Condiciones de uso del Portal Web de Movistar Colombia, incluso el de restringir el acceso a este sitio a determinados Usuarios.

            Información Personal / Protección de la Misma
            Toda aquella información que proporcione el Usuario a través del Portal Web de Movistar Colombia, se encontrará asegurada por una clave de acceso. La responsabilidad de mantener el secreto de la clave recae directamente sobre el Usuario. El usuario acepta expresamente equiparar jurídicamente el uso de las claves a su firma, de forma que las compras, transacciones, accesos y/o consultas realizadas se reputarán en todo caso como válidas, y se entenderá que han sido cursadas por el Usuario, produciendo plenos efectos jurídicos. El Usuario se compromete a preservar la confidencialidad de la contraseña. En caso de pérdida, sustracción o cualquier hecho que pudiera afectar a su confidencialidad, el Usuario deberá de forma inmediata a través de este medio informar sobre la pérdida para proceder a bloquear el acceso y utilización del Portal Web de Movistar Colombia. Hasta que La Empresa no sea informada de la pérdida de la contraseña del Usuario, quedará exonerada de toda responsabilidad por las transacciones efectuadas en ese lapso.

            Tratamiento y Protección de Datos de Caracter Personal
            El usuario autoriza a la Empresa (Av. Suba No.114 A-55 de Bogotá, tel. 091 7050000) para recolectar, almacenar, conservar, usar, suprimir, actualizar, compartir y circular a terceros, sus datos personales de orden demográfico, económico, biométricos, de servicios, comercial y de localización; para obtención y suministro de información relativa al cumplimiento de sus obligaciones y el cálculo de riesgo económico o crediticio (de manera irrevocable), la publicación de directorios telefónicos, la prevención y control de fraudes, y para beneficio propio o de terceros con los que la Empresa haya celebrado convenio para envío y recepción de cualquier tipo de información, con fines comerciales o publicitarios en Colombia o en el exterior. La información para el cálculo de riesgo crediticio podrá ser consultada en cualquier operador de banco de datos, por las entidades financieras con las cuales la Empresa celebre convenios comerciales en favor de los titulares. Los datos serán tratados de conformidad con las Políticas para el Tratamiento de Datos Personales que se encuentran a disposición de los interesados y/o titulares de los datos en la página web www.movistar.co El titular de los datos tiene derecho de conocer, actualizar, rectificar, suprimir los datos, y revocar la autorización salvo las excepciones legales. Los datos biométricos son datos sensibles y el titular no está obligado a autorizar su tratamiento, estos serán usados para verificación de identidad y suscripción de contratos.
        </textarea>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12 col-sm-6 col-xs-6">
            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                <div class="col-lg-6 col-md-6 col-sm-2 col-xs-2">
                    <label>¿Aceptas los términos y condiciones? </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                    <div id="chkSI" dx-check-box="{
                    text: 'Si',
                    value: 1,
                    onValueChanged: checkboxSi
                }"></div>

                    <div id="chkNO" style="margin-bottom:3%; padding-left:15px;" dx-check-box="{
                    text: 'No',
                    value: 0,
                    onValueChanged: checkboxNo
                }"></div>
                </div>
            </div>
        </div>
    </div>
</div>

