
@{
    ViewBag.Title = "Firmar Certificados";
    Layout = "~/Views/Shared/_LayoutV5.cshtml";
}
<script>
    var IdUsuario= @ViewBag.idusuario;
</script>
<style>
    #BotonCert {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Areas/Contractual/Scripts/FirmarCertificados.js?V=" + DateTime.Now.ToString("yyyyddMMHH"))"></script>
<div data-url="@Url.Content("~")" ID="SIM" resizable>
    <div class="panelSIM panelSIM-default">
        <div class="panelSIM-heading">
            <h3 class="panelSIM-title">
                <label class="header">Firmar certificados contractuales</label>
            </h3>
        </div>
        <div id="loadPanel"></div>
        <div id="grdListaCertificados"></div>
        <div id="popupFirmar">
            <div class="row">
                    <div id="lblFirmar" class="control-label col-md-10"></div>
            </div>
            <br />
            <div class="row col-md-12" id="BotonCert">
                <div class="col-md-5 align-content-start" id="btnAceptaFirma"></div>
                <div class="col-md-5 align-content-end" id="btnRechazaFirma"></div>
            </div>
        </div>
    </div>
</div>